html, body {
  height: 100%;
  margin: 0;
}

body {
  text-align: center;
  font-family: "Segoe UI", "Arial", sans-serif;
  background: linear-gradient(180deg, orange, yellow);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

button {
  background-color: rgb(105, 146, 243);
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2;
}

button:hover {
  background: rgb(95, 126, 223);
  transform: translateY(-2px);
  transition: 0.2;
}

.back {
  text-align: left;
}

#title {
  color: rgb(105, 146, 243);;
  font-weight: bolder;
}

#subtitle {
  color: rgb(85, 126, 223);;
  font-weight: bold;
}
#selectBar {
  padding: 100px 0px;
}
