html, body {
  height: 100%;
  margin: 0; /* removes default whitespace */
}

body {
  text-align: center;
  font-family: "Segoe UI", "Arial", sans-serif;
  background: linear-gradient(to bottom, orange, yellow);
  background-size: cover;
}

#title {
  color: orange;
  font-weight: bolder;
}

#subtitle {
  color: green; /* fixed typo */
  font-weight: bold;
}
