body{
  text-align: center;
  font-family: "Segoe UI", "Arial", sans-serif;
  background-image: linear-gradient(to bottom, orange, yellow);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#title{
  color: orange;
  font-weight: bolder;
}

#subtitle{
  collor: green;
  font-weight: bold;
}
