html, body {
  height: 100%;
  margin: 0;
}

body {
  text-align: center;
  font-family: "Segoe UI", "Arial", sans-serif;
  background: linear-gradient(to bottom, orange, yellow);
  background-size: cover;
}

#title {
  color: #25a5ff;
  font-weight: bolder;
}

#subtitle {
  color: #1494ee;
  font-weight: bold;
}
#selectBar {
  padding: 100px 0px;
}
