html, body {
  height: 100%;
  margin: 0;
}

body {
  algin: center;
  font-family: "Segoe UI", "Arial", sans-serif;
  background: linear-gradient(to bottom, orange, yellow);
  background-size: cover;
}

button {
    background-color: rgb(105, 146, 243);
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.back {
  align: left;
}

#title {
  color: rgb(105, 146, 243);;
  font-weight: bolder;
}

#subtitle {
  color: rgb(85, 126, 223);;
  font-weight: bold;
}
#selectBar {
  padding: 100px 0px;
}
